name: Generate Compatibility List

env:
  LATEST_RW_VERSION: 1.5

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
    paths:
      - WeaponTweakData/*

jobs:
  build:
    if: "!contains(github.event.commits[0].message, '[AUTO CI]')"
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4.2.0

    - name: Setup Dotnet
      uses: actions/setup-dotnet@v4.0.1
      with:
        dotnet-version: 8.0.x

    - name: Build Mod ${{ env.LATEST_RW_VERSION }}
      run: dotnet build Source/${{ env.LATEST_RW_VERSION }}/CompatibilityReportGenerator --configuration Release

    - name: Run generator
      run: .\Source\${{ env.LATEST_RW_VERSION }}\CompatibilityReportGenerator\bin\Release\net48\CompatibilityReportGenerator.exe --directory "./WeaponTweakData" --output "./WeaponTweakData/Compatible Mods.md"
    
    - name: Check for changes
      run: git status
    
    - name: Stage changes
      run: git add .
    
    - name: Commit changes
      run: |
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git commit -m "[AUTO CI] Update compatible mod list." -m "[skip ci]"
    
    - name: Push to ${{ github.ref }}.
      uses: ad-m/github-push-action@v0.8.0
      with:
        github_token: ${{ secrets.CI_TOKEN }}
        branch: ${{ github.ref }}
